<li class="list-group-item border-bottom-0" style="background-color: transparent;">
{{ $ignoredOrResolved := in (slice "resolved" "ignored") .state }}
{{ if ne .message .description }}<span data-bs-toggle="tooltip" data-bs-placement="top" title="{{.description}}">{{ end }}
  <i class="fas fa-exclamation-triangle fa-fw{{ if $ignoredOrResolved }} fa-disabled{{end}}"></i>
  <a href="{{.issue.web_url}}">
    {{- if $ignoredOrResolved }}<del>{{end -}}
    {{.message }}
    {{- if eq .state "resolved" }}</del>{{end -}}
  </a>
  {{ with .state }}<span class="badge {{if eq . "resolved" }}bg-success{{else if $ignoredOrResolved }}bg-secondary{{else}}bg-danger{{end}}">{{.}}</span>{{ end }}
{{ if ne .message .description }}</span>{{ end }}
</li>
